body {
	font-family: Verdana,Geneva,sans-serif;
	background-color: #eee;
}

#banner {
	width: 90%;
	margin-left: 5%;
	margin-top: 1%;
	padding-left: 5%;
	overflow: hidden;
}

#logobar {
	font-weight: bold;
	font-size: 300%;
	letter-spacing: .1em;
	padding: 1%;
	text-align: center;
	background-color: #dde;
}

#englishBanner {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    background-color: #fd2222;
}

#creoleBanner {
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #0800b5;
    color: #fff;
}

#info {
	width: 70%;
	float: left;
	margin-left: 2%;
	padding: 1%; 
	font-size: 110%;
	letter-spacing: .01em;
	text-align: justify;
}

.side_blurb {
	width: 20%;
	float: left;
	margin-left: 2%;
	padding: 1%;
	margin-top: 1%;
	text-align: left;
}
.text {
	width: 80%;
	float: left;
	margin-left: 2%;
	padding: 1%; 
	font-size: 110%;
	letter-spacing: .01em;
}

#notifications {
    width: 95%;
    background-color: #fdd;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 125%;
    font-weight: bold;
}

.transcription_block {
    background-color: #cce;
    padding: 1em;
    margin: 1em 2em 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}

.transcription {
	text-align: left;
	margin-top: 1em;
	padding: 1em;
	background-color: #bdb;
}

.transcription textarea {
	width:99%;
	padding:5px;
}

.machineTranscription {
    margin-top: 1em;
}

.call {
    width: 40%;
    padding: 1%;
    float:left;
    font-size: 125%;
    padding-bottom: 11%;
    margin-bottom: -10%;
    text-align: justify;
}

#footer {
	float: left;
	width: 90%;
	margin-left: 4%;
	text-align: center;
	padding: 1%;
}