body{
font-family: Verdana,Geneva,sans-serif;
}

div.transcription_block{
    background-color:  #CCCCEE;
    padding: 1%;
    margin-top: 2%;
    width: 90%;
    margin-left: 2%;
    float: left;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
}

div.recording{
float: left;
text-align: left;
background-color: #EEEEEE;
width: 90%;
padding: 2%;
margin-top: 1%;
margin-left: 2%;
}

div#notifications{
    width: 95%;
    background-color: #FFDDDD;
    float:left;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 125%;
    font-weight: bold;
}

div.transcription{
float: left;
text-align: left;
width: 90%;
margin-left: 2%;
padding: 2%;
background-color: #BBDDBB;
}

div.machineTranscription{
    width: 80%;
    padding: 2%;
    text-align: justify;
    font-style: italic;
}

div#info{
width: 60%;
float: left;
margin-left: 2%;
padding: 1%; 
font-size: 110%;
letter-spacing: .01em;
}

div#api{
width: 80%;
float: left;
margin-left: 2%;
padding: 1%; 
font-size: 110%;
letter-spacing: .01em;
}

div#email{
width: 30%;
float: left;
margin-left: 2%;
padding: 1%;
margin-top: 1%;
}
